.main {
  position: absolute;
  margin: auto;
  
  font-size: 80px;
  display:inline-block;
}

.left-column {
  background-color: lightcyan;
  padding-bottom: 310px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  display:inline-block;
}

.bottom {
  padding: 50px;
}

table, td, th {
  border: 1px solid black;
}

#table {
  text-align:center;
}


#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.video {
  width: 800px;
  height: 400px;
  animation: showMe 300s forwards;
}
@keyframes showMe{
  0%{
      opacity: 0;
  }
  99.99%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

.timer {
  margin-top: 10px;
  animation: hideMe 300s forwards;
}
@keyframes hideMe{
  0%{
      opacity: 1;
  }
  99.99%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}